<form action="/addFriend" method="POST">
    <input type="email" name="email" id="email"placeholder="Enter Email">
    <input type="submit" value="Add" id ="btnAddFriend" class="btn waves-effect waves-light">
</form>