<div class="container">
    <div class="row">
        <div class="col s6">
            <h1>Contact Manager</h1>
        </div>
        <div class="col s6">
            <p class="right-align">Welcome back, {{username}}</p>
            <a class="waves-effect waves-light btn btn-right" href="/signout">Sign Out</a>

        </div>

    </div>
    <div class="row">
        <div class="col s12">
            {{> contactsForm}}
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        {{> contactsList}}
    </div>
    <div id="calendar"></div>
</div>
<img id ="meetupLogo"src="../assets/meeuplogo-01.png">
    
   <div class = "container">
       <ul class = "myHomeMenu">
   <li><a href="myrota.html"><img id ="myRotaButton"src="../assets/myrotabtn-01.png"></a></li>
   <li><a href="mygroups.html"><img id ="myGroupsButton"src="../assets/mygroupsbtn-01.png"></a></li>
   <li><a href="myrota.html"><img id ="myFriendsButton"src="../assets/myfriendsbtn.png"></a></li>
   <li><a href="myrota.html"><img id ="myMeetsButton"src="../assets/mymeetsbtn.png"></a></li>

</ul>
</div>