<h3>Sign Up</h3>
{{#if userExist}}
<div class="card-panel red">Uh Oh! It appears you are already a member! Go to Log in page instead!</div>
{{else}} {{#if userDoesNotExist}}
<div class="card-panel green">Whoop whoop! Welcome to MeetUp!</div>
{{/if}}{{/if}}
<img id ="meetupLogo"src="../images/meeuplogo-01.png">
    
    <h1>Create Account</h1>
    <form action="/signup" method="POST">
        
        <label for="username" style="display: block">Email Address          </br>(example@example.com</label>
        <input type ="email" name="username" id ="username" placeholder="Email Address">
        <label for="personalisedName"style="display: block">Create Username        </br>(this will be visible to contacts)</label>
        <input type ="text" name="personalisedName" id="personalisedName" placeholder="Username">
        <label for="password"style="display: block">Create Password</label>
        <input type ="password" name="password" placeholder="Password"></br></br>
        <input type ="submit"style="display: block" id="signUpSubmit" value="SignUp" class ="btn waves-effect waves-light">
    </div>
    </form>
         <div id ="link"> <a href="/">Already have an account?</a></div>