<a href="/signout">SignOut</a>
<a href="/home">Home</a>
<div class ="container"> 
        <div id = "userInputMonday">
        <label>Monday</label>
        <select id="workOrOther">
            <option value="chooseWorkMon">Work</option>
            <option value="chooseOtherMon">Other</option>
        </select>
        <input type = "date" id = "inputDateMon"/>
        <label>Start Time</label>
        <input type = "time" id = "startTimeMon"/>
        <label>End Time</label>
        <input type = "time" id = "endTimeMon"/> 
        <input type ="submit" name="addMonday"id="addMonday">
    </div>

    <div id = "userInputTuesday">
         <label>Tuesday</label>
         <select id="workOrOther">
                <option value="chooseWorkTue">Work</option>
                <option value="chooseOtherTue">Other</option>
        </select>
        <input type = "date" id = "inputDateTue"/>
        <label>Start Time</label>
        <input type = "time" id = "startTimeTue"/>
        <label>End Time</label>
        <input type = "time" id = "endTimeTue"/> 
        <input type ="submit" name="addTuesday"id="addTuesday">
</div>
<div id = "userInputWednesday">
        <label>Wednesday</label>
        <select id="workOrOther">
               <option value="chooseWorkWed">Work</option>
               <option value="chooseOtherWed">Other</option>
       </select>
       <input type = "date" id = "inputDateWed"/>
       <label>Start Time</label>
       <input type = "time" id = "startTimeWed"/>
       <label>End Time</label>
       <input type = "time" id = "endTimeWed"/> 
       <input type ="submit" name="addWednesday"id="addWednesday">
       
</div>
<div id = "userInputThursday">
        <label>Thursday</label>
        <select id="workOrOther">
               <option value="chooseWorkThu">Work</option>
               <option value="chooseOtherThu">Other</option>
       </select>
       <input type = "date" id = "inputDateThu"/>
       <label>Start Time</label>
       <input type = "time" id = "startTimeThu"/>
       <label>End Time</label>
       <input type = "time" id = "endTimeThu"/> 
       <input type ="submit" name="addThursday"id="addThursday">
   
</div>
<div id = "userInputFriday">
        <label>Friday</label>
        <select id="workOrOther">
               <option value="chooseWorkFri">Work</option>
               <option value="chooseOtherFri">Other</option>
       </select>
       <input type = "date" id = "inputDateFri"/>
       <label>Start Time</label>
       <input type = "time" id = "startTimeFri"/>
       <label>End Time</label>
       <input type = "time" id = "endTimeFri"/> 
       <input type ="submit" name="addFriday"id="addFriday">
      
</div>
<div id = "userInputSaturday">
        <label>Saturday</label>
        <select id="workOrOther">
               <option value="chooseWorkSat">Work</option>
               <option value="chooseOtherSat">Other</option>
       </select>
       <input type = "date" id = "inputDateSat"/>
       <label>Start Time</label>
       <input type = "time" id = "startTimeSat"/>
       <label>End Time</label>
       <input type = "time" id = "endTimeSat"/> 
       <input type ="submit" name="addSaturday"id="addSaturday">
       
</div>
<div id = "userInputSunday">
        <label>Sunday</label>
        <select id="workOrOther">
               <option value="chooseWorkSun">Work</option>
               <option value="chooseOtherSun">Other</option>
       </select>
       <input type = "date" id = "inputDateSun"/>
       <label>Start Time</label>
       <input type = "time" id = "startTimeSun"/>
       <label>End Time</label>
       <input type = "time" id = "endTimeSun"/> 
       <input type ="submit" name="addSunday"id="addSunday">
</div>
<div>
    <input type ="submit" name="saveWeek"id="saveWeek">
</div>
</div>