
        {{!-- <img id ="myFriendsLogo"src="../assets/myfriends-01.png">
    <div class = "container">
            <ul class = "myPersonalGroups">
                    <li><a href=""><img id ="myFriendsButton"src="/images/myfriendsbtn.png"></a><p id="friendsName">NameofFriend</p></li>
                    <li><a href=""><img id ="myFriendsButton"src="/images/myfriendsbtn.png"></a><p id="friendsName">NameofFriend</p></li>
                    <li><a href=""><img id ="myFriendsButton"src="/images/myfriendsbtn.png"></a></li>
                    <li><a href = "/addNewFriend" method="POST"><img id ="myAddNewButton"src="/images/addnewbtn-01.png"></a></li>
     

     </ul>
     </div> --}}

     <div class="container">
    <div class="row">
        
        <div class="col s6">
            {{> addFriendForm}}
        </div>
    </div>
</div>