<img id ="myGroupsLogo"src="/images/mygroups-01.png">
    <div class = "container">
            <ul class = "myPersonalGroups">
                    <li><a href=""><img id ="myGroupsButton"src="/images/mygroupsbtn-01.png"></a></li>
                    <li><a href=""><img id ="myGroupsButton"src="/images/mygroupsbtn-01.png"></a></li>
                    <li><a href=""><img id ="myGroupsButton"src="/images/mygroupsbtn-01.png"></a></li>
                    <li><a href = "/addNewGroup" method="POST"><img id ="addNewGroupButton"src="/images/addnewbtn-01.png"></a></li>
     
